---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import PageSection from "../components/PageSection.astro";

const pageTitle = "Calendar";
---

<Layout pageTitle={pageTitle}>
  <PageHeader pageTitle={pageTitle} />
  <PageSection>
    <div class="overflow-x-scroll max-w-full">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=tobytravis%40gmail.com&ctz=Europe%2FLondon"
        style="border: 0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no"></iframe>
    </div>
  </PageSection>
</Layout>
