---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import SectionHero from "../components/SectionHero.astro";
import Sections from "../components/Sections.astro";

import { siteTitle, siteSubTitle, siteStrapline } from "../data/site.json";
const heroSection = {
  settings: {
    wrapperClasses: "bg-[url('/images/allium.jpg')] bg-cover pt-16",
  },
  content: {
    pageTitle: siteTitle,
    pageSubTitle: siteSubTitle,
    pageStrapline: siteStrapline,
  },
};

import { sections } from "../data/home.json";
---

<Layout pageTitle={siteTitle}>
  <SectionHero content={heroSection.content} settings={heroSection.settings}>
    <div class="flex flex-wrap gap-4 self-start items-center justify-start">
      <div
        class="w-full min-[420px]:w-auto p-2 bg-[rgba(255,255,255,0.9)] rounded-lg h-12 flex items-center justify-left gap-2"
      >
        <Image
          src="/images/rhs.svg"
          alt="RHS logo"
          width={75}
          height={36}
          format="svg"
        />
        <p class="text-xs">RHS Horticultural Theory and Practice, Level 2</p>
      </div>
      <div
        class="w-full min-[420px]:w-auto p-2 bg-[rgba(255,255,255,0.9)] rounded-lg h-12 flex items-center justify-left gap-2"
      >
        <Image
          src="/images/nocn-qualified.png"
          alt="RHS logo"
          width={36}
          height={36}
          format="png"
        />
        <p class="text-xs">NOCN Garden and Planting Design, Level 3</p>
      </div>
    </div>
  </SectionHero>
  <Sections sections={sections} />
</Layout>
