---
import Container from "./Container.astro";

import { siteTitle, siteEmail } from "../data/site.json";
---

<footer class="Footer py-8 bg-gradient-to-l from-slate-700 to-slate-950 text-footer-text">
  <Container>
    <div class="sm:flex justify-between">
      <p>&copy;2023 {siteTitle}</p>
      <a href={`mailto:${siteEmail}`}>{siteEmail}</a>
    </div>
  </Container>
</footer>
