---
import Container from "../components/Container.astro";
import MainNav from "../components/MainNav.astro";

const { title } = Astro.props;
---

<header class="Header bg-header-bg text-header-text">
    <Container>
        <div class="flex flex-col sm:flex-row items-center py-4">
            <a class="font-cormorant text-2xl md:text-xl uppercase mb-2 sm:mb-0" href="/">{title}</a>
            <MainNav class="sm:ml-auto" />
        </div>
    </Container>
</header>
