---
import Container from "../components/Container.astro";
import MainNav from "../components/MainNav.astro";

const { title } = Astro.props;
---

<header class="bg-red-300">
    <Container>
        <div class="flex flex-col sm:flex-row items-center py-4">
            <a class="font-bold mb-2 sm:mb-0" href="/">{title}</a>
            <MainNav class="sm:ml-auto" />
        </div>
    </Container>
</header>
