---
import Container from "../components/Container.astro";

const { pageTitle, pageSubTitle } = Astro.props;
---

<header>
  <Container bg="bg-[url('/images/fern-corsican-mint.jpg')] bg-cover">
    <div
      class="w-full min-h-[20rem] flex items-center justify-end text-right"
    >
      <div class="max-w-md bg-[rgba(255,255,255,0.9)] space-y-4 p-6 rounded-lg">
        <h1 class="text-5xl font-cormorant text-headers">{pageTitle}</h1>
        <p class="text-md">{pageSubTitle}</p>
      </div>
    </div>
  </Container>
</header>
