---
const { class:className } = Astro.props;

import { siteEmail, siteTel } from "../data/site.json";
---
<nav class:list={[className, 'flex', 'gap-x-4', 'items-center']}>
    <!-- <a href="/about">Design</a>
    <a href="/gallery">Maintenance</a> -->
    <a href={`mailto:${siteEmail}`}>{siteEmail}</a>
    <a href={`tel:${siteTel}`}>{siteTel}</a>
</nav>