---
const { class:className } = Astro.props;
---
<nav class:list={[className, 'flex', 'gap-x-2', 'items-center']}>
    <a href="/about">Maintenance</a>
    <a href="/gallery">Design</a>
    <a href="/contact">Contact</a>
</nav>