---
const { pageTitle } = Astro.props;
---

<header class="PageHeader">
    <div class="container mx-auto">
        <h1 class="color-lime-900">{pageTitle}</h1>
        <p>Page header</p>
    </div>
</header>
