---
import { marked } from 'marked';

import PageSection from "./PageSection.astro";
import Prose from "./Prose.astro";

const { settings, content } = Astro.props;

const parsedBody = marked.parse(content.body)
---

<PageSection>
    <div class="space-y-4">
        {content.title && <h2 class="mx-auto text-4xl font-headers font-weight-headers">{content.title}</h2>}
        <Prose set:html={parsedBody}/>
    </div>
</PageSection>
