---
import Container from "./Container.astro";

const { pageTitle, pageSubTitle, wrapperClasses } = Astro.props;
---

<header>
  <Container
    wrapperClasses={wrapperClasses}
  >
    <div class="w-full flex flex-col pb-6">
      <div class="max-w-xl bg-[rgba(255,255,255,0.9)] text-right self-end space-y-4 p-6 mb-16 rounded-lg">
        <h1 class="text-4xl sm:text-5xl font-headers font-weight-headers text-headers">{pageTitle}</h1>
        <p class="max-w-lg text-md">{pageSubTitle}</p>
      </div>
      <slot />
    </div>
  </Container>
</header>
