---
import Container from "./Container.astro";

const { pageTitle, pageSubTitle, pageStrapline, wrapperClasses } = Astro.props;
---

<header>
  <Container
    wrapperClasses={wrapperClasses}
  >
    <div class="w-full flex flex-col pb-6">
      <div class="max-w-xl bg-[rgba(255,255,255,0.9)] text-right self-end p-6 mb-16 rounded-lg prose">
        <h1 class="text-5xl sm:text-5xl font-headers font-weight-headers text-headers">{pageTitle}</h1>
        {pageSubTitle && <h2 class="text-md uppercase">{pageSubTitle}</h2>}
        {pageStrapline && <p class="max-w-lg text-md" set:html={pageStrapline}/>}
      </div>
      <slot />
    </div>
  </Container>
</header>
