---
import Header from '../components/Header.astro';

const { pageTitle } = Astro.props;

const siteTitle = 'The Natural Garden'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteTitle} - {pageTitle}</title>
	</head>
	<body>
		<Header title={siteTitle} />
		<main><slot /></main>
	</body>
</html>